@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 @ViewData["Title"]</h1>
    <p>Learn about me I'm 23 and in Kodcode.</p>
    Hi whats up My shoulder muscle is really hurting me 
    it seems a few months ago i did heavy wait lifting bench press
    followed by loads of pushups and mma class then went to Channaya for some siyum
    and he wanted to make a pushup competetion and i joined and felt my little shoulder muscle
    rip now i went to the gym with Alazer and  did work out now my shoulder is killing i think I reallt
    need to slow it down do really small wait
</div>